<div class="wrapper">
  <header>
    <h1 class="title">Furtive.ly</h1>
    <div id="subscriber-count"></div>
    <div id="channel-id" data-id="furtively"></div>
  </header>
  <div id="new-message"></div>
  <section id="messages">
    <div id="new-message-arrived">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </div>
    <div id="bottom-fade"></div>
  </section>
</div>