<div class="wrapper">
  <div id="new-message">
  </div>

  <!-- 
  <div id="new-message" class="Medium Medium-inline">
    <p contenteditable="false" class="new-message-placeholder">
      Say something...
    </p>
  </div>
   -->

  <section id="messages">
  </section>
</div>