<!-- <div id="new-message" class="Medium Medium-inline">
  Say something...
</div> -->

<div id="new-message" class="Medium Medium-inline">
  <p contenteditable="false" class="new-message-placeholder">
    Say something...
  </p>
</div>

<section id="messages">
</section>