div.global-chat {
  position: fixed;
  top: 2%;
  right: 0.75%;

  &:hover {
    cursor: pointer;
  }
}

span.global-chat-button {
  border: 2px solid black;
  padding: 4px;
  text-align: center;

  &:hover {
    color: grey;
    border-color: grey;
  }
}

header.private-chat-header {
  max-height: 100px;
  min-height: 100px;
}

div#chat-room-link {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  line-height: 1.5em;
  margin-bottom: 5px;
}