div {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

div.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
}

h1.title {
  position: static;
  display: block;
  font-weight: 800;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 46px;
  color: #333;
  margin-top: 50px;
}

div#new-message {
  letter-spacing: 1px;
  min-height: 52px !important;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

div.message {
  font-weight: 400;
}